{% import "./../utils.njk" as utils %}
<!--
tabs:
    properties={ items: [], panels: [] },
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro toolbar(properties={}) -%}
    <div class="p-toolbar">
    </div>
{%- endmacro %}

