@import "./settings";
@import "./mixins";
@import "./functions";

$block-product-menu: #{$fd-namespace}-product-menu;

.#{$block-product-menu} {
  @include fd-reset();

  text-overflow: ellipsis;
  min-width: 0;

  @include fd-screen(s) {
    max-width: 60%;
  }

  @include fd-screen(m) {
    max-width: 60%;
  }

  @include fd-rtl() {
    padding: 0 0 0 fd-space(2);
  }

  &__control {
    @include fd-button-reset();

    padding-left: 0.625rem;
    padding-right: 1.7rem;
    position: relative;
    height: 2.25rem;
    color: var(--sapShell_TextColor);
    background-color: transparent;

    @include fd-rtl() {
      padding-right: 0.625rem;
      padding-left: 1.7rem;
    }

    &:hover {
      background-color: var(--sapShell_Hover_Background);
    }

    &:active {
      color: var(--sapShell_Active_TextColor);
      background-color: var(--sapShell_Active_Background);
    }

    &::after {
      @include triangle(10px 5px, var(--sapShell_InteractiveTextColor), down, --sapShell_InteractiveTextColor);

      content: "";
      position: absolute;
      top: calc(50% - 2.5px);
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}
