@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-accordion
*/
$block: #{$fd-namespace}-accordion;

// ACCORDION
$fd-accordion-header-height: 2.5rem;
$fd-accordion-background-color: var(--sapGroup_TitleBackground);
$fd-accordion-border: solid 0.0625rem var(--sapGroup_TitleBorderColor);

// HEADER

// TOGGLE BUTTON
$fd-accordion-toggle-button-width: 2.75rem;

// CONTENT
$fd-accordion-content-padding: 0.625rem 1rem 1.375rem 1rem;
$fd-accordion-content-background-color: var(--sapGroup_ContentBackground);

.#{$block} {
  border-bottom: $fd-accordion-border;
  background-color: $fd-accordion-background-color;

  &--active {
    .#{$block}__content {
      display: block;
    }
  }

  &__header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    min-height: $fd-accordion-header-height;

    .#{$block}__toggle-button {
      @include fd-flex-center();
      // TODO
      flex-shrink: 0;
      width: $fd-accordion-toggle-button-width;
    }

    .#{$block}__title {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    .#{$block}__toolbar {
      @include fd-flex-center();

      flex-shrink: 0;
    }
  }

  &__content {
    display: none;
    padding: $fd-accordion-content-padding;
    background-color: $fd-accordion-content-background-color;
  }
}
