{%- macro setup_accordion_logic()%}
    <script>
        function accordionToggle(id) {
            const accordion = document.getElementById(id);
            const isExpanded = accordion.classList.contains("fd-accordion--active");
            if (isExpanded) {
                accordion.classList.remove("fd-accordion--active");
            } else {
                accordion.classList.add("fd-accordion--active");
            }
        }
    </script>
{%- endmacro %}


{%- macro accordion(properties={}) %}
    <div id="{{ properties.id }}" class="fd-accordion">
        <div class="fd-accordion__header">
            <button class="btn-playground fd-accordion__toggle-button"
                onclick="accordionToggle('{{ properties.id }}')">
            </button>
            <div class="fd-accordion__title">
                Accordion title
            </div>
            <div class="fd-accordion__toolbar">
                <button>Option 1</button>
                <button>Option 2</button>
                <button>Option 3</button>
            </div>
        </div>
        <div class="fd-accordion__content">
            Accordion header
        </div>
    </div>
{%- endmacro %}